{% extends 'base/base.html' %}

{% block title %}
<title>Blog</title>
{% endblock %}

{% block jumbotron_content %}
{% load static %}
<div class="row justify-content-center">
    <div class="col-12 text-center img-logo">
        <img src="{% static 'img/alpha-logo.png' %}" alt="">
    </div>
</div>
<div class="row justify-content-center">
    <h1 class="title-text">Alpha Tech Academy Blog</h1>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        <p class="p-text">Alpha Tech Academy is a tech talent incubator that gives everyone (even non IT background) a chance to be a professional Tech Talent within 3 months.</p>
    </div>
</div>
{% endblock %}

{% block content %}
{% load static %}
{% for blog in Blog %}
    <div class="container blog-content">
        <div class="row justify-content-center text-center ">
            <div class="col-10">
                <img src="{{blog.pic}}" alt="" width="630px">
            </div>
    </div>
    <div class="row justify-content-center text-center">
        <div class="col-10">
            <div class="row justify-content-center text-center ">
                <div class="col-5 text-left tag-left">
                    <p>{{blog.tanggal_pembuatan}}</p>
                </div>
                <div class="col-5 text-right tag-right">
                    <p>{{blog.comment}} Comment</p>
                </div>
            </div>
        </div>   
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="row justify-content-center text-left tag-title">
                <div class="col-8">
                    <h3 >{{blog.judul}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="row justify-content-center text-left tag-title">
                <div class="col-8">
                    <p>{{blog.isi}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-10">
            <div class="row justify-content-center text-left tag-title">
                <div class="col-8">
                    <a href="">Baca selengkapnya</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}