{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- css bootstrap -->
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">
    <!-- css custom -->
    <link rel="stylesheet" href="{% static 'CSS/style.css' %}">
    {% block title %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'img/alpha-logo.png' %}" />
</head>
<body>
    <header id="page-top">
    <div class="containter-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="http://127.0.0.1:8000">Alpha Tech Academy</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/blog/">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/mentor/">Mentor</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/mentee/">Mentee</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="http://127.0.0.1:8000/author/">Author</a>
                </li>
                </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="wrapper">
        <div class="container-fluid header_text">
            {% block jumbotron_content %}
            {% endblock %}
        </div>
    </div>
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="container-fluid footer1">
            <div class="row justify-content-center">
                <span class="footer-text"><h4>Our Product:</h4></span>
                <img class="img1" src="{% static 'img/logo-grey-alphapay.png' %}" alt="" height="30px;" >
                <img class="img1" src="{% static 'img/logo-grey-sepulsa.png' %}" alt="" height="30px;" >
                <img class="img1" src="{% static 'img/logo-grey-alphabill.png' %}" alt="" height="40px;" >
            </div>
        </div>
        <div class="container-fluid footer2">
                <div class="row justify-content-center">
                    <h5 class="bottom-text"><strong>Contact Person:</strong> Mobile phone: 0877 9609 9530. Email: <a href="">academy@alphatech.id</a></h5>
                </div>
            </div>
    </footer>
</body>
</html>