<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <!-- css bootstrap -->
    <link rel="stylesheet" href="{% static 'CSS/bootstrap.min.css' %}">
    <!-- css custom -->
    <link rel="stylesheet" href="{% static 'CSS/main.css' %}">
    <title>About</title>
    <link rel="shortcut icon" href="{% static 'img/logo-ALTA.png' %}" />
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div>
                        <a href="home.html"><img src="assets-final-project-fe/img/logo-ALTA.png" alt="" id="logo"></a>
                    </div>
                   
                </div>
                <div class="col-md-9">
                    <ul class="menu">
                        <li><a href="home.html">home</a></li>
                        <li><a href="about.html" id="about">about</a></li>
                        <li><a href="">experience</a></li>
                        <li><a href="contact.html">contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
    <div class="wrapper-about">
        <section class="about-me">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h1>about me.</h1>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <p>Hello! I’m Anne Sullivan, a full-stack engineer based in Malang, IDN who enjoys building things that live on the internet. I develop exceptional websites and web apps that provide intuitive, pixel-perfect user interfaces with efficient and modern backends. <br><br> Shortly after graduating from Alterra Academy, I joined the engineering team at Alterra where I work on a wide variety of interesting and meaningful projects on a daily basis. <br><br> Here’s few technologies I’ve been working with recently :</p>
                        <table>
                            <tr>
                                <td>HTML & CSS</td>
                                <td class="td2">Serverless</td>
                                <td class="td3">Scrum</td>
                            </tr>
                            <tr>
                                <td>Programming</td>
                                <td class="td2">Restful API</td>
                                <td class="td3">Test-Driven Dev</td>
                            </tr>
                            <tr>
                                <td>Database</td>
                                <td class="td2">Javascript</td>
                                <td class="td3">Software Testing</td>
                            </tr>
                            <tr>
                                <td>Git & Github</td>
                                <td class="td2">Single Page App</td>
                                <td class="td3">UX/UI Designer</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-5 align-items-center">
                        <div class="image-about">
                        <img src="assets-final-project-fe/img/matthew-hamilton-tNCH0sKSZbA-unsplash.jpg" alt="" class="about-me-img">
                        <img src="assets-final-project-fe/img/img-dot.png" alt="" class="dot">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        
    </div>
    <footer class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-12 aligness">
                        <img src="assets-final-project-fe/img/logo-ALTA-v2.png" width="110 px">
                    </div>
                    <div class="col-md-4 col-12 ">
                        
                            <div class="SocialMedia">Social Media</div>
                            <div class="sosmed">
                            <div class="facebook aligness">
                                <img src="assets-final-project-fe/img/ic_fb.png">
                            </div>
                            <div class="Twitter aligness">
                                <img src="assets-final-project-fe/img/ic-twitter.png">
                            </div>
                            <div class="Instagram aligness">
                                <img src="assets-final-project-fe/img/ic-instagram.png">
                            </div>
                            <div class="LinkedIn aligness">
                                <img src="assets-final-project-fe/img/ic-linkedin.png">
                            </div>
                            </div>
                
                    </div>
                    <div class="col-md-3 col-12">
                        <h5>copyright &copy; 2019 Alterra</h5>
                    </div>
                </div>
            </div>
        </footer>
</body>
</html>