@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

/* header css */
header {
    background-color: #ffffff;
    position: fixed;
    width: 100%;
    height: 89px;
    z-index: 10;
    
}

img.logo {
    margin-top: 11px;
    margin-left: 35px ;
}

#logo {
    margin-top: 11px;
    margin-left: 35px ;
}

.menu {
    padding-top: 30px;
    text-align: right;
}

.menu a {
    font-family: 'Muli', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    color: #19345E;
}

.menu a:hover {
    color: #F47522;
}

.menu li {
    display: inline;
    margin-right: 35px;
    
}

/* about css */
#home {
    color: #F47522;
}

#about {
    color: #F47522;
}

.wrapper-home {
    padding-top: 350px;
    padding-bottom: 89px;
}

.wrapper-about {
    padding-top: 89px;
    padding-bottom: 89px;
}

.about-me {
    background-color: #F4F7FC;
    height: 132px;
    text-transform: uppercase;
    
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 40px;
    margin: 43px 90px 42px 115px;
    color: #19345E;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    margin-top: 51px;
    margin-left: 70px;
    line-height: 22px;  
    color: #19345E;
}

table, th, td {
    border: 1px solid #707070;
    border-collapse: collapse;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    color: #19345E;
    padding: 5px 20px;
    margin-left: 70px;
  }

.td2 {
    padding: 5px 32px;
}

.td3 {
    padding: 5px 33px;
}

.image-about {
    position: relative;
}

.about-me-img {
    border-radius: 10px;
    margin: 51px 100px;
    width: 250px;
}

.dot {
    position: absolute;
    margin-top: -102px;
    margin-left: 60px;
    left: 0;
}

/* home css */

body.home {
    background-image: url('../img/bg-img.png');
    background-size: 100%;
    background-position: fixed;
}

.name1{
    font-family: Roboto;
    font-weight: medium;
    font-size: 25px;
    color: #19345E;

}
.name2{
    font-family: Roboto;
    font-size: 85px;
    font-weight: bold;
    text-align: left;
    color : #19345E;
    border: 30;
}

.name3{
    font-family: Roboto;
    font-size: 35px;
    font-weight: medium;
    text-align: left;
    color :#19345E ;
}
.name4{
    color: white;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    background-color: #F47522;
    border-radius: 10px;
    text-align: center;
    padding:8px 15px 8px 15px;

}
.contain{
    width : 80%;
    margin: auto;
}
.home-image {
    width: 355px;
    border-radius: 360%;
    /* margin-top: 120px; */
}

/* footer css */
footer{
    background-color:#19345E;
    color : white;
    padding: 25px 0 5px 0;
}
.facebook{
    display: inline;
}
.Instagram{
    display: inline;
    padding: 0 10px;
}
.Twitter{
    display: inline;
    padding: 0 10px;
}
.LinkedIn{
    display: inline;
}
.SocialMedia, h5{
    font-size: 14px;
    font-family: SF Compact Display;
    font-weight: semibold;
    text-align: left;

}

.sosmed {
    text-align: center;
}

h5{
    padding: 20px;
    border-left: 1px solid rgb(34, 105, 163);
}

.aligness {
    float: left;
}

/* contact css */

#left-image {
    /* margin-left: 132px; */
    z-index: 100;
    margin: auto;
}

span {
    color: #ff0000;
}

.box-biru {
    background-color: rgba(25, 52, 94, 0.65);
    position: absolute;
    background-size: cover;
    width: 100%;
    height: 792px;
    opacity: 65%;
}

.nol{
    padding-right: 0;
    padding-left: 0;
    background-image: url(../img/charles-rRWiVQzLm7k-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 512px;
    height: 792px;
}

.contact-us {
    padding-top: 29px;
    padding-left: 120px;
    padding-right: 120px;
    font-family: 'Muli', sans-serif;
    font-size: 20px;
    color: #19345E;
}

.submit {
    background-color: #F47522;
    font-family: 'Roboto', sans-serif;
    border-radius: 25px;
    font-size: 16px;
    color: white;
    width: 150px;
    height: 43px;
}

/* media query */
@media (max-width: 1210px) {
    .name1{
        font-family: Roboto;
        font-weight: medium;
        font-size: 25px;
        color: #19345E;
    
    }
    .name2{
        font-family: Roboto;
        font-size: 65px;
        font-weight: bold;
        text-align: left;
        color : #19345E;
        border: 30;
    }
    
    .name3{
        font-family: Roboto;
        font-size: 35px;
        font-weight: medium;
        text-align: left;
        color :#19345E ;
    }
    .name4{
        color: white;
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        background-color: #F47522;
        border-radius: 10px;
        text-align: center;
        padding:8px 15px 8px 15px;
    
    }
    .contain{
        width : 80%;
        margin: auto;
    }
    .home-image {
        width: 300px;
    }   
.form-control:focus {
    box-shadow: none;
    border: 2px solid #19345E;
}
}

@media (max-width: 992px) {
    header {
        background-color: #ffffff;
        position: fixed;
        width: 100%;
  
        z-index: 10;
    }

    #logo {
        margin-top: 11px;
        margin-left: 135px ;
    }

    .menu {
        text-align: center;
        padding-left: 10px;
    }
    .menu li {
        display: inline;
        margin: 10px
    }
    .contain{
        width : 100%;
        margin: auto;
    }
    .wrapper-about {
     
        padding-bottom: 89px;
    }
    h1 {
        font-size: 30px;
        margin: 25px 100px 42px 100px;
    }

    .about-me {
        height: 90px;
    }

    .about-me-img {
        width: 200px;
    }

    p {
        font-size: 17px;
        margin-top: 51px;
        margin-left: 35px;
        margin-right: 40px;
    }
    table, th, td {
        font-size: 14px;
        padding: 5px 5px;
        margin-left: 35px;
        margin-right: 20px;
      }
    
    .td2 {
        padding: 5px 5px;
    }
    
    .td3 {
        padding: 5px 5px;
    }
    .aligness {
        float: center;
        text-align: center;
    }

    .SocialMedia, h5{
        font-size: 14px;
        font-family: SF Compact Display;
        font-weight: semibold;
        text-align: center;
    }

    .facebook{
        padding-left: 40px;
    }
    .Instagram{
        padding-left: 10px;
    }
    .Twitter{
        padding-left: 10px;
    }
    .LinkedIn{
        padding-left: 10px;
    }
    footer{
        background-color:#19345E;
        color : white;
        padding: 20px 0 15px 0;
    }

    .nol {
        padding-right: 0;
        padding-left: 0;
        background-image: url(../img/charles-rRWiVQzLm7k-unsplash.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 512px;
    }
    .contact-us {
        padding-top: 29px;
        padding-left: 20px;
        padding-right: 20px;
        font-family: 'Muli', sans-serif;
        font-size: 20px;
        color: #19345E;
    }

    .form-control {
        border: 1px solid #707070;
    }

    .form-control:focus {
        box-shadow: none;
        border: 2px solid #19345E;

    }

    h5{
        padding: 20px;
        border-left: 0 solid #ffffff;
    }
    .submit {
        margin-bottom: 30px;
    }
}

@media (max-width: 767px) {
    header {
        height: 140px;
    }
    
    #logo {
        margin-left: 175px ;
    }
    /* h1 {
        font-size: 30px;
        margin: 25px 100px 42px 275px;
    } */

    /* table, th, td {
        margin-left: 68px;
        /* margin-right: 20px; */
    .wrapper-about {
        padding-top: 150px;
        padding-bottom: 89px;
    }
    .nol {
        height: 200px;
    }
    .box-biru {
        height: 200px;
    }
    .dot {
        margin-top: 202px;
        /* margin-left: 60px; */
        left: 0;
    }
    .facebook{
        padding-left: 190px;
    }
    .name1{
        font-family: Roboto;
        font-weight: medium;
        font-size: 25px;
        color: #19345E;
    
    }
    .name2{
        font-family: Roboto;
        font-size: 65px;
        font-weight: bold;
        text-align: center;
        color : #19345E;
        border: 30;
    }
    
    .name3{
        font-family: Roboto;
        font-size: 35px;
        font-weight: medium;
        text-align: center;
        color :#19345E ;
    }
    .name4{
        color: white;
        font-family: Roboto;
        font-weight: 400;
        font-size: 16px;
        background-color: #F47522;
        border-radius: 10px;
        text-align: center;
        padding:8px 15px 8px 15px;
    
    }
    .contain{
        width : 80%;
        text-align: center;
    }
    .home-image {

        width: 300px;
    }
    
}

@media (max-width: 570px){
    .facebook{
        padding-left: 160px;
    }

}

@media (max-width: 570px){
    .facebook{
        padding-left: 100px;
    }
}

@media (max-width: 388px) {
    h1 {
        font-size: 30px;
        margin: 25px 70px 42px 70px;
    }
    .home-image {
        border-radius: 360%;
    }
}